.AddComposerForm {
  width: 80%;
  margin: 50px 10%;
}

.AddComposerForm__input {
  margin-bottom: 20px;
}

.AddComposerForm__input > label {
  display: block;
}

/* ////////////////////////////// */

$defaultFontSize: 16;

@function rem($pixels) {
  @return ($pixels / $defaultFontSize * 1rem);
}

.fill__label {
  display: block;
  font-size: rem(14);
  margin-bottom: rem(7);
  margin-top: 0.8rem;
  color: darkblue;
}

.fill__file-picker-wrapper {
  display: flex;
  align-items: flex-start;
}

.fill__button {
  background-color: orange;
  /* box-shadow: 0 0 rem(4) 0 $shadow-button; */
  border-radius: rem(3);
  color: white;
  font-size: rem(14);
  padding: rem(7) rem(22);
  border: none;
  margin-bottom: rem(20);
}

.fill__input-file {
  display: none;
}

.fill__image-preview {
  width: rem(30);
  height: rem(30);
  display: inline-block;
  border: rem(1) solid green;
  margin-left: rem(20);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
